[Unit]
Description=cg5317 Host Loading Service
After=cg5317-bringup.service

[Service]
User=root
Group=root
ExecStartPre=/root/examples/host_loading_service/host_loading_service -f /lib/firmware/FW.bin -c /lib/firmware/spi_evse_config.bin -i 0 -s seth1
ExecStart=/root/examples/host_loading_service/host_loading_service -f /lib/firmware/FW.bin -c /lib/firmware/spi_evse_config.bin -i 0 -s seth0


Type=forking

[Install]
WantedBy=multi-user.target
