SUBSYSTEM=="net", ACTION=="add", KERNELS=="4e00000.can", NAME="mcu_mcan0"
SUBSYSTEM=="net", ACTION=="add", KERNELS=="20701000.can", NAME="main_mcan0"

